{% extends 'base.html.twig' %}

{% block title %}New Alumno{% endblock %}

{% block body %}
    <h1>Crear nuevo Alumno</h1>

    {{ include('alumno/_form.html.twig') }}

    <a href="{{ path('app_alumno_index') }}">Volver al listado</a>
{% endblock %}
